@font-face {
    font-family: "creation";
    src: url("./fonts/creattion-demo/Creattion\ Demo.otf");
}
@font-face {
    font-family: "barlow";
    src: url("./fonts/Barlow/Barlow-Light.ttf");
}
body {
    margin: 0px;
    text-align: center;
    font-family: "barlow";
}
nav {
    display: flex;
    margin: 0;
    height: 2rem;
    justify-content: end;
    background-color: black;
}
#nav-para {
    color: white;
    position: relative;
    bottom: 10px;
    right: 15px;
}
.link:link {
    color: salmon;
    text-decoration: none;
}
.link:visited {
    color: hotpink;
    text-decoration: none;
}
.link:hover {
    color: aqua;
    text-decoration: underline;
}
.link:active {
    color: red;
    text-decoration: underline;
}
.splash {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, 
    #070B34, #141852, #2B2F77, #483475, #6B4984, #855988);
    margin: 0px;
}
#splash_name {
    position: absolute;
    padding-bottom: 19vw;
    font-family: "creation";
    font-weight: lighter;
    font-size: 8vw;
    color: white;
}
#splash_phrase {
    position: absolute;
    padding-bottom: 4vw;
    font-weight: bold;
    font-size: 2.5vw;
    color: white;
}
#skyline {
    max-width: 100%;
    height: auto;
}
.headshot_sec {
    margin-top: 50px;
}
#headshot {
    border-radius: 100%;
    border: 5px solid black;
    width: 200px;
}
.h1_titles {
    font-weight: bold;
    font-size: 2rem;
    margin: 2rem;
}
#description {
    font-weight: 500;
    font-size: 1.5rem;
    margin: 2rem;
}
.line {
    border: 1px solid black;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}
.three-col {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-bottom: 5vh;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px;
    width: 18vw;
    min-width: 18vw;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card img {
    border-radius: 10px 10px 0 0;
    width: 100%;
}
.card div {
    padding: 2px 12px;
    height: 16rem;
}
.container p {
    display: flex;
    flex-direction: column;
    margin: 8px;
    font-size: 1em;
}
.container h2 {
    margin: 14px;
}
.leadership p {
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-size: 1em;
}
.leadership h2 {
    margin: 14px;
}
footer {
    display: flex;
    height: 2rem;
    justify-content: center;
    background-color: black;
    margin: 0;
}
#footer-para {
    position: relative;
    bottom: 10px;
}

/* Contact Page CSS */
.contact-information {
    margin: 4em;
}
.contact-information h1 {
    font-size: 3em;
}
.contact-information p {
    font-size: 1.25em;
}
.one-col {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    margin: 138.5px;
}
.contact-card {
    padding: 5em;
    height: 8rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border: black;
    border-radius: 10px;
    width: 18vw;
    min-width: 18vw;
}

@media all and (max-width: 800px) {
    .three-col {
        grid-template-columns: 1fr;
        row-gap: 5vh;
    }
    .card {
        width: 50vw;
    }
}
@media all and (max-width: 1200px) and (min-width: 801px) {
    .three-col {
        grid-template-columns: 1fr 1fr;
        row-gap: 5vh;
        margin-left: 15vw;
        margin-right: 15vw;
    }
    .card {
        width: 30vw;
    }
}
